<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>login</filter-name>
        <filter-class>filter.login</filter-class>
    </filter>
    <filter>
        <filter-name>filterAdmin</filter-name>
        <filter-class>filter.filterAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>filterAdmin</filter-name>
        <url-pattern>/account.jsp</url-pattern>
        <url-pattern>/addProduct.jsp</url-pattern>
        <url-pattern>/adminOrder.jsp</url-pattern>
        <url-pattern>/editProduct.jsp</url-pattern>
        <url-pattern>/headerAdmin.jsp</url-pattern>
        <url-pattern>/product.jsp</url-pattern>
        <servlet-name>admin</servlet-name>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-name>editProduct</servlet-name>
        <servlet-name>updateAccount</servlet-name>
        <servlet-name>deleteAccount</servlet-name>
        <servlet-name>addAccount</servlet-name>
        <servlet-name>addProduct</servlet-name>
        <servlet-name>addCategory</servlet-name>
        <servlet-name>deleteCategory</servlet-name>
        <servlet-name>ViewAllOrderServlet</servlet-name>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-name>AdminSearchOrderServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>AccountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/index.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/updateAccount.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>EditProductServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>DeleteProductServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>UpdateAccountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>DeleteAccountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>AddNewAccount</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>AddProduct</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>AddNewCategory</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <servlet-name>DeleteCategory</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>login</filter-name>
        <url-pattern>/product.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>controller.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>controller.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailServlet</servlet-name>
        <servlet-class>controller.DetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>controller.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>controller.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCartServlet</servlet-name>
        <servlet-class>controller.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMoreServlet</servlet-name>
        <servlet-class>controller.LoadMoreServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>controller.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>admin.EditProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>admin.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <servlet-class>admin.UpdateAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>admin.DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewAccount</servlet-name>
        <servlet-class>admin.AddNewAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>admin.AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewCategory</servlet-name>
        <servlet-class>admin.AddNewCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCategory</servlet-name>
        <servlet-class>admin.DeleteCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderServlet</servlet-name>
        <servlet-class>controller.ViewOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAllOrderServlet</servlet-name>
        <servlet-class>admin.ViewAllOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <servlet-class>admin.UpdateStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchOrderServlet</servlet-name>
        <servlet-class>admin.AdminSearchOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderAgainServlet</servlet-name>
        <servlet-class>controller.OrderAgainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCancelOrderServlet</servlet-name>
        <servlet-class>controller.UpdateCancelOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <servlet-class>controller.LoginGoogleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderByDate</servlet-name>
        <servlet-class>controller.SearchOrderByDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/CategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailServlet</servlet-name>
        <url-pattern>/detail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/AccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCartServlet</servlet-name>
        <url-pattern>/editCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMoreServlet</servlet-name>
        <url-pattern>/loadMore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/editProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccountServlet</servlet-name>
        <url-pattern>/updateAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/deleteAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewAccount</servlet-name>
        <url-pattern>/addAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewCategory</servlet-name>
        <url-pattern>/addCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCategory</servlet-name>
        <url-pattern>/deleteCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderServlet</servlet-name>
        <url-pattern>/viewOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAllOrderServlet</servlet-name>
        <url-pattern>/ViewAllOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusServlet</servlet-name>
        <url-pattern>/UpdateStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchOrderServlet</servlet-name>
        <url-pattern>/AdminSearchOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderAgainServlet</servlet-name>
        <url-pattern>/OrderAgainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCancelOrderServlet</servlet-name>
        <url-pattern>/UpdateCancelOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginGoogleServlet</servlet-name>
        <url-pattern>/loginGoogle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderByDate</servlet-name>
        <url-pattern>/SearchOrderByDate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
