/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 15, 2023, 10:32:04 AM
    Author     : Dung
*/

.author .author-content {
    height: 45rem;
    display: flex;
    position: relative;
    justify-content: space-around;
    margin: 2rem;
}
.author .author-content .author-image-left {
    width: 60%;
    margin: 1.5rem;
    box-shadow: 6px -6px #8a0640;
    position: absolute;
    left: 0;
}
.author .author-content .author-image-left img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.author .author-content .author-text-right {
    width: 38%;
    position: absolute;
    right: 0;
}
.author .author-content .author-text-right .text {
    padding: 0.5rem;
    margin: 0.5rem;
}
.author .author-content .author-text-right .text .text-color {
    color: #b72b2c;
    font-weight: 700;
}
.author .author-content .author-text-right .text cite {
    font-size: 14px;
}
.author .author-content .author-text-right .text .h2-text-align {
    padding: 0.5rem;
    margin: 0.5rem;
}
.author .author-content .author-text-right .text p {
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: justify;
}
.author .author-content .author-text-right .text .link-text {
    font-weight: 700;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid chocolate;
    color: black;
    padding-bottom: 1rem;
    margin: 0.5rem;
}
.author .author-content .author-text-right .text .link-text:hover {
    color: red;
    transform: translate(-1%, 1%);
    font-size: 17px;
    transition: 0.3s;
}
.banner {
    background-color: #fec8cd;
}
.banner .banner__content {
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .banner__content .banner__left {
    width: 41rem;
    line-height: 1.5;
}
.banner .banner__content .banner__left .banner__sub-title {
    font-size: 1.6rem;
    color: #a30000;
    padding: 0.5rem 1rem;
    background-color: #fafafa;
    display: inline-block;
    border: 1px solid #ff7d8a;
    border-radius: 2rem;
    margin-bottom: 2rem;
    font-weight: 500;
}
.banner .banner__content .banner__left .banner__title {
    font-size: 4rem;
    color: #2e2e2e;
    font-weight: 700;
    margin-bottom: 1rem;
}
.banner .banner__content .banner__left .banner__text {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3rem;
}
.banner .banner__content .banner__left .banner__btn {
    text-decoration: none;
    color: #fafafa;
    padding: 0.5rem 1.5rem;
    display: inline-block;
    border: none;
    border-radius: 2.5rem;
    font-weight: 500;
    font-size: 2rem;
    background-color: #ff7d8a;
    transition: 0.3s ease 0s;
    margin-bottom: 3rem;
}
.banner .banner__content .banner__left .banner__btn:hover {
    background-color: #fafafa;
    color: #ff7d8a;
    transition: 0.3s ease 0s;
}
.banner .banner__content .banner__right {
    width: 85rem;
    margin-bottom: 2rem;
}
.banner .banner__content .banner__right .splide__slide {
    width: 100%;
}
.banner .banner__content .banner__right .splide__slide img {
    display: block;
    width: 100%;
}
@media (max-width: 1150px) {
    .banner__content {
        width: 100%;
        flex-wrap: wrap;
    }
    .banner__content .banner__right {
        width: 100% !important;
    }
}
.card {
    margin-top: 5rem;
}
.card .container1 .moreakko__content {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #8a0640;
    text-align: center;
}
.card .container1 .horizol-circle {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}
.card .container1 .horizol-circle .moreakko__icon {
    width: 6rem;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card .container1 .horizol-circle .moreakko__icon .circle_icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8a0640;
}
.card .container1 .horizol-circle .moreakko__icon .circle_icon_middle {
    width: 2rem;
    height: 2rem;
}
.card .container1 .horizol-circle .moreakko__icon::before {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    right: 100%;
}
.card .container1 .horizol-circle .moreakko__icon::after {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 100%;
}
.card .container2 {
    display: flex;
}
.card .container2 .moreakko__content {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #8a0640;
    text-align: center;
}
.card .container2 .horizol-circle {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}
.card .container2 .horizol-circle .moreakko__icon {
    width: 6rem;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.card .container2 .horizol-circle .moreakko__icon .circle_icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8a0640;
}
.card .container2 .horizol-circle .moreakko__icon .circle_icon_middle {
    width: 2rem;
    height: 2rem;
}
.card .container2 .horizol-circle .moreakko__icon::before {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    right: 100%;
}
.card .container2 .horizol-circle .moreakko__icon::after {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 100%;
}
.card .container2 .card_block1 {
    height: 31.6rem;
    width: 400px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 7px 11px 0px pink;
    background-color: #ffe3e8;
    position: relative;
    display: block;
    z-index: 1;
}
.card .container2 .card_block1::after {
    content: "";
    position: absolute;
    background-color: #7d7893;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: 0.3s ease-out 0s;
    z-index: -1;
    color: red;
}
.card .container2 .card_block1 a {
    text-decoration: none;
}
.card .container2 .card_block1:hover::after {
    bottom: 0;
    height: 100%;
    transition: 0.6s ease-out 0s;
}
.card .container2 .card_block1 .card-wrap_icon {
    background: #fec8cd;
    border-radius: 50rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    line-height: 10rem;
}
.card .container2 .card_block1 .card_text {
    padding: 1rem;
    font-size: medium;
    font-weight: 500;
}
.card .container2 .card_block1 .card_header {
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    text-decoration: none;
    font-weight: 600;
}
.card .container2 .card_block1:hover h3 {
    color: white;
}
.card .container2 .card_block1:hover p {
    color: white;
}
.card .container2 .card_block2 {
    height: 31.6rem;
    width: 400px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 7px 11px 0px pink;
    background-color: #ffe3e8;
    position: relative;
    display: block;
    z-index: 1;
}
.card .container2 .card_block2::after {
    content: "";
    position: absolute;
    background-color: #7d7893;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    bottom: 0;
    transition: 0.3s ease-out 0s;
    z-index: -1;
    color: red;
}
.card .container2 .card_block2 a {
    text-decoration: none;
}
.card .container2 .card_block2:hover::after {
    bottom: 0;
    height: 100%;
    transition: 0.6s ease-out 0s;
    color: red;
}
.card .container2 .card_block2 .card-wrap_icon {
    background: #fec8cd;
    border-radius: 50rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    line-height: 10rem;
}
.card .container2 .card_block2 .card_text {
    padding: 1rem;
    font-size: medium;
    font-weight: 500;
}
.card .container2 .card_block2 .card_header {
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    text-decoration: none;
    font-weight: 600;
}
.card .container2 .card_block2:hover p {
    color: white;
}
.card .container2 .card_block2:hover h3 {
    color: white;
}
.card .container2 .card_block3 {
    height: 31.6rem;
    width: 400px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 7px 11px 0px pink;
    background-color: #ffe3e8;
    position: relative;
    display: block;
    z-index: 1;
}
.card .container2 .card_block3::after {
    content: "";
    position: absolute;
    background-color: #7d7893;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    bottom: 0;
    transition: 0.3s ease-out 0s;
    z-index: -1;
    color: red;
}
.card .container2 .card_block3 a {
    text-decoration: none;
}
.card .container2 .card_block3:hover::after {
    bottom: 0;
    height: 100%;
    transition: 0.6s ease-out 0s;
    color: red;
}
.card .container2 .card_block3 .card-wrap_icon {
    background: #fec8cd;
    border-radius: 50rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    line-height: 10rem;
}
.card .container2 .card_block3 .card_text {
    padding: 1rem;
    font-size: medium;
    font-weight: 500;
}
.card .container2 .card_block3 .card_header {
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    text-decoration: none;
    font-weight: 600;
}
.card .container2 .card_block3:hover p {
    color: white;
}
.card .container2 .card_block3:hover h3 {
    color: white;
}
.card .container2 .card_block4 {
    height: 31.6rem;
    width: 400px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 7px 11px 0px pink;
    background-color: #ffe3e8;
    position: relative;
    display: block;
    z-index: 1;
}
.card .container2 .card_block4::after {
    content: "";
    position: absolute;
    background-color: #7d7893;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 0;
    bottom: 0;
    transition: 0.3s ease-out 0s;
    z-index: -1;
    color: red;
}
.card .container2 .card_block4 a {
    text-decoration: none;
}
.card .container2 .card_block4:hover::after {
    bottom: 0;
    height: 100%;
    transition: 0.6s ease-out 0s;
    color: red;
}
.card .container2 .card_block4 .card-wrap_icon {
    background: #fec8cd;
    border-radius: 50rem;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 1rem;
    line-height: 10rem;
}
.card .container2 .card_block4 .card_text {
    padding: 1rem;
    font-size: medium;
    font-weight: 500;
}
.card .container2 .card_block4 .card_header {
    color: black;
    padding: 1rem 1rem 0rem 1rem;
    text-decoration: none;
    font-weight: 600;
}
.card .container2 .card_block4:hover p {
    color: white;
}
.card .container2 .card_block4:hover h3 {
    color: white;
}
@media (max-width: 1110px) {
    .card .container2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.component .component_header {
    text-align: center;
}
.component .component_header .small-title {
    color: #8a064a;
    font-size: 1.6rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: bold;
}
.component .component_header .question {
    font-weight: bold;
    font-size: 4rem;
    padding: 0rem 2rem;
}
.component .component_header .des {
    padding: 1rem 20rem;
    font-size: 1.6rem;
    max-width: 1280px;
    margin: 0 auto;
}
.component .container_body {
    margin-top: 2rem;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component .container_body .component_card_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 10px;
    height: 520px;
}
.component .container_body .component_card_container .card {
    position: relative;
    max-width: 400px;
    height: 315px;
    background-color: #ffe3e8;
    margin: 30px 20px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .5);
    transition: 0.3s ease-in-out;
    border-radius: 6px;
}
.component .container_body .component_card_container .card:hover {
    height: 450px;
}
.component .container_body .component_card_container .card .imgBx {
    position: relative;
    width: 320px;
    height: 320px;
    top: -60px;
    left: 25px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
}
.component .container_body .component_card_container .card .imgBx img {
    max-width: 100%;
    border-radius: 6px;
}
.component .container_body .component_card_container .card .content {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.component .container_body .component_card_container .card:hover .content {
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
@media (max-width: 1380px) {
    .component .container_body .component_card_container {
        height: auto;
    }
}
@media (max-width: 640px) {
    .component .component_header .des {
        padding: 0;
    }
}
.footer {
    margin-top: 4rem;
    background-color: #fafafa;
    border-top: 3px solid #8a0640;
}
.footer .footer_content .footer_top {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 2rem;
}
.footer .footer_content .footer_top .footer_customer {
    width: 200px;
}
.footer .footer_content .footer_top .footer_customer .menu_list .menu_item {
    list-style-type: none;
    line-height: 2;
}
.footer .footer_content .footer_top .footer_customer .menu_list .menu_item .ahead {
    text-transform: uppercase;
    font-weight: 700;
    color: #8a0640;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer .footer_content .footer_top .footer_customer .menu_list .menu_item a {
    text-decoration: none;
    color: #8a0640;
}
.footer .footer_content .footer_top .footer_customer .menu_list .menu_item a:hover {
    color: red;
}
.footer .footer_content .footer_top .footer_about__akko {
    width: 200px;
}
.footer .footer_content .footer_top .footer_about__akko .menu_list .menu_item {
    list-style-type: none;
    line-height: 2;
}
.footer .footer_content .footer_top .footer_about__akko .menu_list .menu_item .ahead {
    text-transform: uppercase;
    font-weight: 700;
    color: #8a0640;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer .footer_content .footer_top .footer_about__akko .menu_list .menu_item a {
    text-decoration: none;
    color: #8a0640;
}
.footer .footer_content .footer_top .footer_about__akko .menu_list .menu_item a:hover {
    color: red;
}
.footer .footer_content .footer_top .footer_payment {
    width: 200px;
}
.footer .footer_content .footer_top .footer_payment .menu_list .menu_item {
    list-style-type: none;
    line-height: 2;
}
.footer .footer_content .footer_top .footer_payment .menu_list .menu_item .ahead {
    text-transform: uppercase;
    font-weight: 700;
    color: #8a0640;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer .footer_content .footer_top .footer_payment .menu_list .menu_item a {
    text-decoration: none;
    color: #8a0640;
}
.footer .footer_content .footer_top .footer_payment .menu_list .menu_item a:hover {
    color: red;
}
.footer .footer_content .footer_top .footer_follow {
    width: 200px;
}
.footer .footer_content .footer_top .footer_follow .menu_list .menu_item {
    list-style-type: none;
    line-height: 2;
}
.footer .footer_content .footer_top .footer_follow .menu_list .menu_item .ahead {
    text-transform: uppercase;
    font-weight: 700;
    color: #8a0640;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer .footer_content .footer_top .footer_follow .menu_list .menu_item a {
    text-decoration: none;
    color: #8a0640;
}
.footer .footer_content .footer_top .footer_follow .menu_list .menu_item a:hover {
    color: red;
}
.footer .footer_content .footer_top .footer_logitics {
    width: 200px;
}
.footer .footer_content .footer_top .footer_logitics .menu_list .menu_item {
    list-style-type: none;
    line-height: 2;
}
.footer .footer_content .footer_top .footer_logitics .menu_list .menu_item .ahead {
    text-transform: uppercase;
    font-weight: 700;
    color: #8a0640;
    margin-bottom: 1.25rem;
    margin-top: 2.5rem;
}
.footer .footer_content .footer_top .footer_logitics .menu_list .menu_item a {
    text-decoration: none;
    color: #8a0640;
}
.footer .footer_content .footer_top .footer_logitics .menu_list .menu_item a:hover {
    color: red;
}
.footer .footer_content .footer_bot {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    margin-top: 0.5rem;
}
.footer .footer_content .footer_bot .footer_center {
    color: #8a0640;
}
.footer .footer_content .footer_bot .footer_bot_item {
    border-right: 1px solid #8a0640;
    border-left: 1px solid #8a0640;
    text-transform: uppercase;
    padding: 0 25px;
}
.footer .footer_content .footer_bot .footer_bot_item a {
    text-decoration: none;
    display: block;
    color: #8a0640;
}
.footer .footer_content .footer_bot .footer_bot_item a:hover {
    color: red;
}
@media (max-width: 1040px) {
    .footer .footer_content .footer_top {
        justify-content: center;
    }
    .footer .footer_content .footer_bot {
        display: none;
    }
}
.header {
    background-color: #fec8cd;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0 0 10px 0px #ff7d8a;
}
.header .scroll-top__btn {
    background-color: #ff7d8a;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    visibility: hidden;
}
.header .scroll-top__btn:hover {
    cursor: pointer;
}
.header .scroll-top__btn::after {
    content: '';
    display: block;
    width: 3rem;
    height: 2rem;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 0);
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 70%, 50% 20%, 0 70%);
    animation: moving 4s ease 0s infinite;
}
.header .scroll-top__btn::before {
    content: '';
    display: block;
    width: 3rem;
    height: 2rem;
    background-color: #fafafa;
    position: absolute;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, 0);
    clip-path: polygon(0 50%, 50% 0, 100% 50%, 100% 70%, 50% 20%, 0 70%);
    animation: moving 4s ease 2s infinite;
}
@keyframes moving {
    0% {
        bottom: 0;
        opacity: 0;
    }
    50% {
        bottom: 30%;
        opacity: 1;
    }
    100% {
        bottom: 50%;
        opacity: 0;
    }
}
.header .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .header__content .nav__block {
    display: flex;
    align-items: center;
}
.header .header__content .nav__block .nav-brandlogo {
    font-family: 'Lemonada', cursive;
    font-weight: 700;
    font-size: 3rem;
    margin-right: 1rem;
}
.header .header__content .nav__block .nav-brandlogo .brandlogo {
    text-decoration: none;
    color: #a30000;
}
.header .header__content .nav__block .nav-brandlogo .brandlogo .brandlogo__span {
    color: #fafafa;
}
.header .header__content .nav__block .nav__check {
    display: none;
}
.header .header__content .nav__block .nav-menu__list {
    list-style-type: none;
    display: flex;
    align-items: center;
}
.header .header__content .nav__block .nav-menu__list .nav-menu__item {
    padding: 0 1rem;
    font-size: 1.8rem;
}
.header .header__content .nav__block .nav-menu__list .nav-menu__item .nav-menu__link {
    padding: 1rem 0;
    display: block;
    color: #fafafa;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.header .header__content .nav__block .nav-menu__list .nav-menu__item .nav-menu__link::after {
    content: '';
    display: block;
    width: 0;
    background-color: #a30000;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: auto;
    right: 0;
    transition: 0.3s ease 0s;
}
.header .header__content .nav__block .nav-menu__list .nav-menu__item .nav-menu__link:hover::after {
    width: 100%;
    left: 0;
    right: auto;
    transition: 0.3s ease 0s;
}
.header .header__content .header__right {
    display: flex;
    align-items: center;
}
.header .header__content .header__right .login_btn {
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
}
.header .header__content .header__right .login_btn .login_btn__content {
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: #ff7d8a;
    border: none;
    border-radius: 2.5rem;
    text-decoration: none;
    color: #fafafa;
    transition: 0.3s ease 0s;
    
}
.header .header__content .header__right .login_btn .login_btn__content:hover {
    background-color: #fafafa;
    color: #ff7d8a;
    transition: 0.3s ease 0s;
}
.header .header__content .header__right .signup__btn {
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
}
.header .header__content .header__right .signup__btn .signup_btn__content {
    display: block;
    padding: 0.5rem 1.5rem;
    background-color: #ff7d8a;
    border: none;
    border-radius: 2.5rem;
    text-decoration: none;
    color: #fafafa;
    transition: 0.3s ease 0s;
}
.header .header__content .header__right .signup__btn .signup_btn__content:hover {
    background-color: #fafafa;
    color: #ff7d8a;
    transition: 0.3s ease 0s;
}
@media (max-width: 880px) {
    .header .header__content .header__right {
        display: none;
    }
}
@media (max-width: 650px) {
    .header .header__content .header__left {
        width: 100%;
    }
    .header .header__content .nav__block {
        display: flex;
        align-items: center;
        position: relative;
    }
    .header .header__content .nav__block .dropdown__icon {
        display: flex;
        align-items: center;
        width: 35px;
        height: 30px;
        position: absolute;
        right: 1rem;
    }
    .header .header__content .nav__block .dropdown__icon span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #a30000;
        transition: 0.3s ease 0s;
        border-radius: 2px;
    }
    .header .header__content .nav__block .dropdown__icon::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #a30000;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s ease 0s;
        top: 0;
    }
    .header .header__content .nav__block .dropdown__icon::before {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        background-color: #a30000;
        position: absolute;
        border-radius: 2px;
        transition: 0.3s ease 0s;
        bottom: 0;
    }
    .header .header__content .nav__block .nav__check {
        display: block;
        width: 35px;
        height: 30px;
        position: absolute;
        right: 1rem;
        z-index: 999;
        opacity: 0;
    }
    .header .header__content .nav__block .nav__check:checked ~ .nav-menu__list {
        height: auto;
        transition: 0.3s ease 0s;
    }
    .header .header__content .nav__block .nav__check:checked ~ .dropdown__icon span {
        transition: 0.3s ease 0s;
        width: 0%;
    }
    .header .header__content .nav__block .nav__check:checked ~ .dropdown__icon::before {
        bottom: 50%;
        transform: translate(0, 50%) rotate(45deg);
    }
    .header .header__content .nav__block .nav__check:checked ~ .dropdown__icon::after {
        top: 50%;
        transform: translate(0, -50%) rotate(-45deg);
    }
    .header .header__content .nav__block .nav-menu__list {
        flex-flow: column;
        align-items: flex-start;
        position: absolute;
        right: 1rem;
        top: calc(100% + 1px);
        height: 0;
        width: 120px;
        overflow: hidden;
        background-color: #fafafa;
        box-shadow: 0 0 3px 0 #ff7d8a;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: 0.3s ease 0s;
        z-index: -1;
    }
}
.moreakko {
    text-align: center;
}
.moreakko .moreakko__content {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #8a0640;
}
.moreakko .horizol-circle {
    display: flex;
    justify-content: center;
    padding: 1rem 0 2rem 0;
}
.moreakko .horizol-circle .moreakko__icon {
    width: 6rem;
    height: 4rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.moreakko .horizol-circle .moreakko__icon .circle_icon {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #8a0640;
}
.moreakko .horizol-circle .moreakko__icon .circle_icon_middle {
    width: 2rem;
    height: 2rem;
}
.moreakko .horizol-circle .moreakko__icon::before {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    right: 100%;
}
.moreakko .horizol-circle .moreakko__icon::after {
    content: "";
    display: block;
    background-color: #8a0640;
    height: 0.2rem;
    width: 15rem;
    position: absolute;
    top: 50%;
    left: 100%;
}
.moreakko .moreakko__pic {
    max-width: 1320px;
    height: 55rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.moreakko .moreakko__pic .moreakko__pic__top {
    height: 300px;
    width: 1320px;
    overflow: hidden;
    margin-bottom: 1rem;
}
.moreakko .moreakko__pic .moreakko__pic__top img {
    display: block;
    width: 100%;
    height: 50rem;
}
.moreakko .moreakko__pic .moreakko__pic_bottom_left {
    width: 630px;
    height: 17.5rem;
    overflow: hidden;
}
.moreakko .moreakko__pic .moreakko__pic_bottom_left img {
    display: block;
    width: 100%;
    height: 100%;
}
.moreakko .moreakko__pic .moreakko__pic_bottom_right {
    width: 630px;
    height: 17.5rem;
    overflow: hidden;
}
.moreakko .moreakko__pic .moreakko__pic_bottom_right img {
    display: block;
    width: 100%;
    height: 100%;
}
.moreakko .moreakko__pic .pic_hover {
    transition: 0.3s;
}
.moreakko .moreakko__pic .pic_hover:hover {
    transition: 0.3s;
    transform: scale(1.05);
}
.moreakko .typeproduct__content {
    display: block;
    font-size: 22px;
    font-weight: 700;
    color: #8a0640;
}
.moreakko .typeproduct_pic {
    max-width: 1320px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
}
.moreakko .typeproduct_pic .pic_hover {
    transition: 0.3s;
}
.moreakko .typeproduct_pic .pic_hover:hover {
    transition: 0.3s;
    transform: scale(1.05);
}
.moreakko .typeproduct_pic .typeproduct_left {
    display: block;
    width: 400px;
    height: 20rem;
    margin: 0rem 1rem 3.5rem;
    overflow: hidden;
}
.moreakko .typeproduct_pic .typeproduct_left img {
    display: block;
    width: 100%;
    height: 100%;
}
.moreakko .typeproduct_pic .typeproduct_middle {
    display: block;
    width: 400px;
    height: 20rem;
    margin-top: 0;
    margin: 0rem 1rem 3.5rem;
    overflow: hidden;
}
.moreakko .typeproduct_pic .typeproduct_middle img {
    display: block;
    width: 100%;
    height: 100%;
}
.moreakko .typeproduct_pic .typeproduct_right {
    display: block;
    width: 400px;
    height: 20rem;
    margin-top: 0;
    margin: 0rem 1rem 3.5rem;
    overflow: hidden;
}
.moreakko .typeproduct_pic .typeproduct_right img {
    display: block;
    width: 100%;
    height: 100%;
}
.button {
    display: block;
    border: none;
    background-color: #ff7d8a;
    text-decoration: none;
    width: 35rem;
    height: 6rem;
    margin: 0 auto;
    margin-bottom: 3rem;
    font-weight: 500;
    font-size: 4rem;
    color: white;
    top: 2rem;
    position: relative;
    z-index: 1;
}
.button::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    transition: 0.3s;
    z-index: -1;
}
.button:hover {
    color: #ff7d8a;
    transition: 0.3s;
}
.button:hover::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
    transition: 0.3s;
}

@media (max-width: 1320px) {
    .moreakko__pic__top {
        display: none;
    }
    .moreakko .moreakko__pic {
        justify-content: center;
        height: 42rem;
    }
}
@media (max-width: 1370px) {
    .moreakko .typeproduct_pic {
        display: flex;
        justify-content: center;
    }
    .moreakko .button {
        display: block;
    }
}
